body {
  background-color: #ffffff;
  font-family: "Lato", sans-serif;
}
.nav1 {
  padding: 1rem;
  padding-left: 2rem;
}
.nav-icons {
  font-size: 1.5rem;
  text-align: end;
  color: black;
  letter-spacing: 5px;
}
#banner {
  max-height: 200px;
}
#banner-cont {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.corpo-row {
  /* border: 1px solid black; */
}
.filtro-div {
  /* border: 1px solid black; */
  padding: 1rem;
  height: 50px;
}
.filtro-content {
  /* background-color: rgb(229, 255, 127); */
  height: 100%;
}
.produto-col-container {
  /* border: 1px solid black; */
  padding: 1.5rem;
}
.produto-content {
  background-color: aquamarine;
}
.produto-desc > p {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.prod-autor {
  min-height: 30px;
  align-items: end;
  font-size: 10pt;
  color: #272624;
}
.prod-nome {
  font-size: 12pt;
  font-weight: 600;
  line-height: 1.2;
}
.prod-preco {
  align-items: end;
  min-height: 40px;
  font-size: 16pt;
  font-weight: 700;
}
.pages-div {
  /* border: 1px solid black; */
  padding: 1rem;
}
