body {
  background-color: #ffffff;
  font-family: "Lato", sans-serif;
}
.nav1 {
  padding: 1rem;
  padding-left: 2rem;
}
.nav-icons {
  font-size: 1.5rem;
  text-align: end;
  color: black;
  letter-spacing: 5px;
}
#banner {
  max-height: 200px;
}
#banner-cont {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.corpo-row {
  /* border: 1px solid black; */
  
}
.filtro-col-container {
  /* border: 1px solid black; */
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.row-filtro {
  /* background-color: rgb(229, 255, 127); */
  height: 100%;
}
.produto-col-container {
  /* border: 1px solid black; */
  padding: 1.5rem;
}
.produto-content {
  background-color: aquamarine;
}
.produto-desc > p {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.prod-autor {
  min-height: 30px;
  align-items: end;
  font-size: 10pt;
  color: #272624;
}
.prod-nome {
  font-size: 12pt;
  font-weight: 600;
  line-height: 1.2;
}
.prod-preco {
  align-items: end;
  min-height: 40px;
  font-size: 16pt;
  font-weight: 700;
}
.pages-div {
  /* border: 1px solid black; */
  padding: 1rem;
}
#pesquisa-produtos::placeholder{
  color: #212529;
  opacity: 1;
}
.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(246, 75, 32, 0.25);
}
.form-select:focus {
  box-shadow: 0 0 0 0.2rem rgba(246, 75, 32, 0.25);
}
.sobre-paragrafo{
  text-align: justify;
  line-height: 1.2;
  font-weight: 300;
}
.sobre-frase{
  text-align: right;
  font-weight: 600;
  line-height: 1.2;
}
.sobre-pics-container{
  margin-top: 30px;
}
.copyright{
  font-size: 8pt;
  color: rgb(82, 82, 82) 
}
.container-rodape{
  margin-top: 50px;
  background-color: #f2f2f2;
  background-image: url('img/rodape/marca-dagua.png'); 
  background-size: cover;
  background-position: center;
}
.rodape-esquerda{
  padding-left: 2rem;
  align-items: center;
}
.rodape-direita{
  padding-right: 2rem;
  font-size: 10pt;
  color: #272624;
  align-items: center;
  justify-content: end;
}
.rodape-direita a{
  margin-left: 15px;
}
.rodape-direita a:hover{
  color: #f64b20;
}
.rodape-direita a{
  color: #272624;
  text-decoration: none;
}