body {
    background-color: #ffffff;
    font-family: "Lato", sans-serif;
}

.nav1 {
    padding: 1rem;
    padding-left: 2rem;
}

#bt-logout:hover {
    cursor: pointer;
}

.nav-icons {
    font-size: 1.5rem;
    text-align: end;
    color: black;
    letter-spacing: 5px;
}

#banner {
    max-height: 200px;
}

#banner-cont {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.row-filtros-pesquisa {
    padding-left: .9rem;
    padding-right: .9rem;
}

.produto-col-container {
    padding: 1.5rem;
}

a {
    text-decoration: none;
    color: #272624;
}

.corpo-row {
    min-height: calc(100vh - 350px);
}

.rotate-image {
    transform: rotate(90deg); /* Rotate the image by 45 degrees */
}

.produto-content {
    background-color: aquamarine;
}

.produto-desc > p {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.prod-autor {
    min-height: 30px;
    align-items: end;
    font-size: 10pt;
    /*color: #272624;*/
}

#index-loading {
    height: 400px;
}

.prod-nome {
    font-size: 12pt;
    font-weight: 600;
    line-height: 1.2;
}

.prod-preco {
    align-items: end;
    min-height: 40px;
    font-size: 16pt;
    font-weight: 700;
}

.pages-div {
    padding: 1rem;
}

#pesquisa-produtos::placeholder {
    color: #212529;
    opacity: 1;
}

.bt-fim-form {
    align-items: center;
    justify-content: end;
}

.info-fim-form {
    color: #d51c1c;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(246, 75, 32, 0.1);
    border-color: #d51c1c;
}

.form-select:focus {
    border-color: #d51c1c;
    box-shadow: 0 0 0 0.2rem rgba(246, 75, 32, 0.1);
}

.sobre-paragrafo {
    text-align: justify;
    /* line-height: 1.2; */
    font-weight: 300;
}

.sobre-frase {
    text-align: right;
    font-weight: 600;
    /* line-height: 1.2; */
}

.sobre-pics-container {
    margin-top: 30px;
}

.copyright {
    font-size: 8pt;
    color: rgb(82, 82, 82)
}

.container-rodape {
    background-color: #f2f2f2;
    background-image: url('img/rodape/marca-dagua.png');
    background-size: cover;
    background-position: center;
    bottom: 0;
}

.rodape-esquerda {
    padding-left: 2rem;
    align-items: center;
}

.rodape-direita {
    padding-right: 2rem;
    font-size: 10pt;
    color: #272624;
    align-items: center;
    justify-content: end;
}

.rodape-direita a {
    margin-left: 15px;
}

a:hover {
    color: #d51c1c;
}

#user-icon:hover {
    cursor: pointer;
}

#bt-red-cad:hover {
    cursor: pointer;
    color: #d51c1c;
}

.row-rodape {
    margin-right: 0;
}

.page-link:focus {
    box-shadow: 0 0 0 0;
    color: #d51c1c;
    background-color: #ffffff;
}

.page-link {
    border-color: #d51c1c;
    color: #d51c1c;
    background-color: #ffffff;
}

.page-item.active .page-link {
    background-color: #d51c1c;
    border-color: #d51c1c;
    color: #ffffff;
}

.col-produto-imagem {
    text-align: right;
    max-width: 500px;
}

.col-produto-desc {
    text-align: left;
    max-width: 500px;
}

.produto-desc-desc {
    color: rgb(86, 86, 86);
    text-align: justify;
}

.produto-desc-preco {

    margin-top: 20px;
}

.produto-desc-botoes {
    margin-top: 20px;
    display: flex;
}

.produto-desc-favoritar {
    font-size: 1.5rem;
    margin-left: 1rem;
    color: #d51c1c;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-weight: 700;
    font-size: 1.6rem;
}

h3 {
    font-weight: 700;
    font-size: 1rem;
}

.col-sobre-artista {
    text-align: center;
}

.col-sobre-artista-desc {
    text-align: justify;
    max-width: 500px;
}

.col-sobre-artista-foto {
    max-width: 180px;
}

.form-signin {
    padding: 15px;
    width: 100%;
    margin: 0 auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.input-login {
    margin-bottom: 1.5rem;
}

.login-centralizado {
    text-align: center;
}

.col-login-container {
    border-radius: 10px;
    background-color: #ffffff;
    padding: 2rem;
}

.container-login {
    background-color: rgb(239, 239, 239);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#bodylogin {
    background-color: rgb(239, 239, 239);
}

.form-editar-perfil {
    margin-bottom: 0.5rem;
}

.botao-salvar-alteracoes {
    font-size: small;
    height: 30px;
    width: 150px;
    justify-content: center;
    padding: 0;
}

.col-descricao-ultima-compra p {
    margin: 0;
    padding: 0;
}

#search-addon:hover {
    cursor: pointer;
    color: #d51c1c;
}

#bt-pesquisa:hover {
    cursor: pointer;
    color: #d51c1c;
}


.button-admin {
    --font-color: #323232;
    --bg-color: #fff;
    --main-color: #323232;
    min-height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
    margin-bottom: 1.5rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

.button-admin:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
}

.botao-importado-pressinado {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
    background-color: #d51c1c;
    color: #ffffff;
}

.descricao-artista-adm p {
    text-align: justify;
    margin: 0;
    padding: 0;
}

.col-selecionar-artista > * {
    margin-bottom: 1rem;
}

#inputAtivoCadastrarProduto {
    height: 20px;
}

#botao-cadastrar-artista {
    margin-left: 0;
}

#col-direita-adm {
    min-height: 100vh;
}